<body>
<h1>Player 1</h1>
<h2><%= @game.player_1.name %>: <%= @game.player_1.health %>HP </h2>
<h1>Player 2</h1>
<h2><%= @game.player_2.name%>: <%= @game.player_2.health %>HP </h2>
<a href="/attack"> Attack</a>

<p><%= @game.active_player.name %>'s turn ! </p>

</body>
